@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-sm-3">
        <p>
            Application is for the fitness community that is interested
            in Hosting events and commenting on Events for different regions
            and to Review and acquire information about various clubs
        </p>
    </div>
</div>