@{
    ViewBag.Title = "Home Page";
}

<link href="/Content/CSS/particle.css" rel="Stylesheet">

<div id="particles-js"></div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<div class="text">
    <div class="logo_img"><img src="/Content/image/FIT-TREE.png" alt="FIT Tree logo" class="img-responsive" width="300" height="300" /> </div>
  <div id="login_field">  @Html.Partial("_LoginPartial") </div>
</div>
<script src="/Scripts/particleScript.js" defer></script>
<style>
    .text {
        position :center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        opacity: 0.5;
        filter: alpha(opacity=50);
        overflow: auto;
        color: black;
            }
    .logo_img {
        position :relative;
        left: 1px;
}
  
    .text:hover, .logo_img:hover {
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
       login_field {
           color: black;       
       } 
    
</style>