@{
    ViewBag.Title = "Home Page";
}

<link href="/Content/CSS/particle.css" rel="Stylesheet">

<div id="particles-js"></div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<div class="text">
    <img src="/Content/image/FIT-TREE.png" alt="FIT Tree logo" class="img-responsive"/>
    <p>Enter HOME!</p>
</div>
<script src="/Scripts/particleScript.js" defer></script>